<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" strict="true" monitorInterval="30" dest="log/log4j.log">
    <Properties>
        <Property name="filename">log/ali.log</Property>
        <Property name="level">debug</Property>
    </Properties>
    <Appenders>
        <Appender type="File" name="File" fileName="${filename}">
            <Layout type="PatternLayout">
                <Pattern>%d [%p] [%c] [%t] %m%n</Pattern>
            </Layout>
        </Appender>
    </Appenders>
    <Loggers>
        <Logger name="com.my.home.*" level="${level}" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="${level}">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>

</Configuration>